<div class="page__auth-simple ">
  <h1>Reset your password</h1>
  <%= f = form_for @form, Routes.reset_password_path(@socket, :create) %>
    <div class="form__container">
      <%= label(f, :password, "New Password") %>
      <%= password_input f, :password %>
      <%= label(f, :password, "Confirm New Password") %>
      <%= password_input f, :password_confirm %>
      
    </div>
    <button phx-disable-with="sending..." type="submit">Reset</button>
  </form>
</div>
