  <div class="flex-grow w-full bg-base-100 rounded-xl shrink-0 ">
    <h1 class="p-4 text-2xl font-bold text-center text-base-content">
      <%= l("An error occured when trying to load the page.") %>
    </h1>
  </div>
