<div class="flex flex-grow">
  <div class="p-4 mx-auto rounded-lg shadow bg-base-100 w-center">
    <h1 class="text-4xl font-bold text-primary-content">
      <%= l("An error occured when trying to load the page.") %>
    </h1>
  </div>
</div>
