<div class="page__auth-simple ">
  <h1>Reset your password</h1>
  <%= f = form_for @form, Routes.reset_password_path(@socket, :create) %>
    <div class="form__container">
      <label for="email">Enter your user account's verified email address and we will send you a password reset link.</label>
      <%= email_input f, :email %>
    </div>
    <button phx-disable-with="sending..." type="submit">Send email</button>
  </form>
</div>
