<%= @heading %>

<%= @intro %>
<%= if assigns[:intro_2] do %>
<%= assigns[:intro_2] %>
<% end %>

<%= @cta %>: <%= @confirm_url %>
<%= @paste_hint %>
<%= @confirm_url %>
<%= if assigns[:signoff] do %>

<%= @disclaimer %>

<%= assigns[:signoff] %>
<%= assigns[:signature] %>
<% end %>
