
<div class="lg:flex mt-6 -mx-2">
  <div class="w-full lg:w-3/5 lg:px-2">
    <%= live_component(@socket, Bonfire.UI.Social.CreateActivityLive, assigns) %>
    <%= live_component(@socket, Bonfire.UI.Social.ProfileHeroLive, assigns) %>
    <%= live_component(@socket, Bonfire.UI.Social.FeedLive, assigns) %>
  </div>
  <div class="w-full lg:w-2/5 px-2">
  </div>
</div>