<%= if current_user(assigns) do %>
  <%= live_component(@socket, @feed_module, assigns_clean(assigns)) %>
<% else %>
    <%= live_component(@socket, Bonfire.UI.Social.SwitchUserViewLive, assigns_clean(assigns)) %>
<% end %>
