<%= if current_user(assigns) do %>
<div id="user_dashboard">
  <%= live_component(@socket, @feed_module, assigns_clean(assigns)) %>
</div>
<% else %>
<div id="account_dashboard">
  <%= live_component(@socket, Bonfire.UI.Social.SwitchUserViewLive, assigns_clean(assigns)) %>
  <%= live_component(@socket, @feed_module, assigns_clean(assigns)) %>
</div>
<% end %>
