<h3>Welcome to Bonfire!</h3>

Please confirm your email by <a href="<%= path(Bonfire.Me.Web.ConfirmEmailController, :show, @current_account.email.confirm_token) %>">clicking here</a> and we'll get you started setting up a user profile.
