Welcome to Bonfire!

Please confirm your email by visiting <%= path(Bonfire.Me.Web.ConfirmEmailController, :show, @current_account.email.confirm_token) %> in your browser and we'll get you started setting up a user profile.
