<section class="my-6">
  <div class="pb-5 mt-8 mb-4">
    <h3 class="text-3xl font-bold leading-6 tracking-wider text-gray-900">Switch user</h3>
    <p class="max-w-4xl mt-4 text-base text-gray-700">Workcation is a property rental website. Etiam ullamcorper massa viverra consequat, consectetur id nulla tempus. Fringilla egestas justo massa purus sagittis malesuada.</p>
  </div>

  <%= live_component(@socket, Bonfire.Me.Web.AccountUsersLive, assigns) %>

</section>
