Welcome to bonfire!

Please confirm your email by visiting <%= Routes.confirm_email_path(Bonfire.Me.Web.Endpoint, :show, @current_account.email.confirm_token) %> in your browser and we'll get you started creating an account.
