Welcome to bonfire!

Please confirm your email by <a href="<%= Routes.confirm_email_path(Bonfire.Me.Web.Endpoint, :show, @current_account.email.confirm_token) %>">clicking here</a> and we'll get you started creating an account.
